<div class='clear-both'></div>

{% if change and not is_popup %}
    <div class='custom-admin-section'>

        <a class='custom-link' href='/#footer-wrapper'>
            <i class="icon-pencil icon-alpha85" style='margin-top: 3px; margin-right: 5px;'></i> Preview and Edit Footer
        </a>

        <div style='clear: both'></div>

    </div>
{% else %}
    <div class='custom-admin-section'>

        <span>You must fill out all necessary fields and save before you can edit the footer.</span>

        <div style='clear: both'></div>

    </div>
{% endif %}